<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @scholarship.name %>
</p>

<p>
  <strong>Student staus:</strong>
  <%= @scholarship.student_status %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @scholarship.gender %>
</p>

<p>
  <strong>Ethnicity:</strong>
  <%= @scholarship.ethnicity %>
</p>

<p>
  <strong>Gpa:</strong>
  <%= @scholarship.gpa %>
</p>

<p>
  <strong>Major:</strong>
  <%= @scholarship.major %>
</p>

<p>
  <strong>Website:</strong>
  <%= @scholarship.website %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @scholarship.deadline %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @scholarship.amount %>
</p>

<p>
  <strong>Other:</strong>
  <%= @scholarship.other %>
</p>

<p>
  <strong>Community service:</strong>
  <%= @scholarship.community_service %>
</p>

<%= link_to 'Back', student_scholarships_path %>

<%= link_to 'My Results', student_scholarship_results_path(@student, @scholarship) %>