<div class="container-fluid jumbotron bg-blue">
  <h1>Scholarship Information</h1>
</div>


<p>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        <strong>Name:</strong>
      </div>
      <div class="col-sm-2">
        <%= @scholarship.name %>
      </div>
    </div>
  </p>

  <p>
    <div class="row">
      <div class="col-sm-2">
        <strong>Student staus:</strong>
      </div>
      <div class="col-sm-2">
        <%= @scholarship.student_status %>
      </div>
    </div>
  </p>

  <p>
    <div class="row">
      <div class="col-sm-2">
        <strong>Gender:</strong>
      </div>
      <div class="col-sm-2">
        <%= @scholarship.gender %>
      </div>
    </div>
  </p>

  <p>
    <div class="row">
      <div class="col-sm-2">
        <strong>Ethnicity:</strong>
      </div>
      <div class="col-sm-2">
        <%= @scholarship.ethnicity %>
      </div>
    </div>
  </p>

  <p>
    <div class="row">
      <div class="col-sm-2">
        <strong>Gpa:</strong>
      </div>
      <div class="col-sm-2">
        <%= @scholarship.gpa %>
      </div>
    </div>
  </p>

  <p>
    <div class="row">
      <div class="col-sm-2">
        <strong>Major:</strong>
      </div>
      <div class="col-sm-2">
        <%= @scholarship.major %>
      </div>
    </div>
  </p>

  <p>
    <div class="row">
      <div class="col-sm-2">
        <strong>Website:</strong>
      </div>
      <div class="col-sm-2">
        <%= @scholarship.website %>
      </div>
    </div>
  </p>

  <p>
    <div class="row">
      <div class="col-sm-2">
        <strong>Deadline:</strong>
      </div>
      <div class="col-sm-2">
        <%= @scholarship.deadline %>
      </div>
    </div>
  </p>

  <p>
    <div class="row">
      <div class="col-sm-2">
        <strong>Amount:</strong>
      </div>
      <div class="col-sm-2">
        <%= @scholarship.amount %>
      </div>
    </div>
  </p>

  <p>
    <div class="row">
      <div class="col-sm-2">
        <strong>Other:</strong>
      </div>
      <div class="col-sm-2">
        <%= @scholarship.other %>
      </div>
    </div>
  </p>

  <p>
    <div class="row">
      <div class="col-sm-2">
        <strong>Community service:</strong>
      </div>
      <div class="col-sm-2">
        <%= @scholarship.community_service %>
      </div>
    </div>
  </p>

      </div>