  <p id="notice"><%= notice %></p>

  <div class="container-fluid bg-blue jumbotron">
    <h1>MY PROFILE</h1>
  </div>

  <p>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <strong>Profile Picture:</strong>
        </div>
        <div class="col-md-2">
          <%= image_tag @student.avatar.url(:thumb) %>
        </div>
      </div>
    </p>

    <p>
      <div class="row">
        <div class="col-md-2">
          <strong>Subscription Plan:</strong>
        </div>
        <div class="col-md-2">
          <%= @student.price %>
        </div>
      </div>
    </p>

    <p>
      <div class="row">
        <div class="col-md-2">
          <strong>First Name:</strong>
        </div>
        <div class="col-md-2">
          <%= @student.first_name.upcase %>
        </div>
      </div>
    </p>

    <p>
      <div class="row">
        <div class="col-md-2">
          <strong>Last Name:</strong>
        </div>
        <div class="col-md-2">
          <%= @student.last_name.upcase %>
        </div>
      </div>
    </p>

    <p>
      <div class="row">
        <div class="col-md-2">
          <strong>Email Address:</strong>
        </div>
        <div class="col-md-2">
          <%= @student.email %>
        </div>
      </div>
    </p>

    <p>
      <div class="row">
        <div class="col-md-2">
          <strong>Student Status:</strong>
        </div>
        <div class="col-md-2">
          <%= @student.student_status.upcase %>
        </div>
      </div>
    </p>

    <p>
      <div class="row">
        <div class="col-md-2">
          <strong>Zip Code:</strong>
        </div>
        <div class="col-md-2">
          <%= @student.zip_code %>
        </div>
      </div>
    </p>

    <p>
      <div class="row">
        <div class="col-md-2">
          <strong>Gender:</strong>
        </div>
        <div class="col-md-2">
          <%= @student.gender.upcase %>
        </div>
      </div>
    </p>

    <p>
      <div class="row">
        <div class="col-md-2">
          <strong>Ethnicity:</strong>
        </div>
        <div class="col-md-2">
          <%= @student.ethnicity.upcase %>
        </div>
      </div>
    </p>

    <p>
      <div class="row">
        <div class="col-md-2">
          <strong>GPA:</strong>
        </div>
        <div class="col-md-2">
          <%= @student.gpa %>
        </div>
      </div>
    </p>

    <p>
      <div class="row">
        <div class="col-md-2">
          <strong>Major:</strong>
        </div>
        <div class="col-md-2">
          <%= @student.major.upcase %>
        </div>
      </div>
    </p>

    <p>
      <div class="row">
        <div class="col-md-2">
          <strong>Resume:</strong>
        </div>
        <div class="col-md-2">
          <a href="<%= @student.resume.url %>">
            <img src="/assets/Document-Icon-small_1.png" alt="Document" style="width:30px;height:30px"></img>
          </a>
        </div>
      </div>
    </p>

    <p>
      <div class="row">
        <div class="col-md-2">
          <strong>Personal Statement:</strong>
        </div>
        <div class="col-md-2">
          <a href="<%= @student.personal_statement.url %>">
            <img src="/assets/Document-Icon-small_1.png" alt="Document" style="width:30px;height:30px"></img>
          </a>
        </div>
      </div>
    </p>

    <p>
      <div class="row">
        <div class="col-md-2">
          <strong>Transcript/Grades:</strong>
        </div>
        <div class="col-md-2">
          <a href="<%= @student.transcript_grades.url %>">
            <img src="/assets/Document-Icon-small_1.png" alt="Document" style="width:30px;height:30px"></img>
          </a>
        </div>
      </div>
    </p>

    <p>
      <div class="row">
        <div class="col-md-2">
          <strong>Recommendations:</strong>
        </div>
        <div class="col-md-2">
          <a href="<%= @student.recommendations.url %>">
            <img src="/assets/Document-Icon-small_1.png" alt="Document" style="width:30px;height:30px"></img>
          </a>
        </div>
      </div>
    </p>

    <p>
      <div class="row">
        <div class="col-md-2">
          <strong>Other:</strong>
        </div>
        <div class="col-md-2">
          <a href="<%= @student.other.url %>">
            <img src="/assets/Document-Icon-small_1.png" alt="Document" style="width:30px;height:30px"></img>
          </a>
        </div>
      </div>
    </p>

  </div>