<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%f.hidden_field :stripe_card_token %>

<div class="container-fluid text-left">
  <div class="field form-group">
    <%= label_tag :card_number %><br>
    <%= text_field_tag :card_number %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
</div>

<% end %>

